@model OnlineChatEnvironment.Data.Models.Chat

<div class="chat-body">
    @foreach (var message in Model.Messages)
    {
        <div class="message">
            <header>@message.Name:</header>
            <p>@message.Text</p>
            <footer>@message.Timestamp</footer>
        </div>
    }

</div>
<form class="chat-input" onsubmit="sendMessage(event)" asp-controller="Home" asp-action="CreateMessage">
    <input type="text" name="message">
    <input type="hidden" value="@Model.Id" name="ChatId">
    <input type="hidden" value="@Model.Name" name="roomName">
    <input type="text" name="message" id="message-input" />
    <button type="submit">Send</button>
</form>

@section scripts
    {
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();
        var _connectionId = '';

        connection.on("RecieveMessage", function (data) {
            console.log(data);
            
            var message = document.createElement("div")
            message.classList.add('message')
            
            var header = document.createElement("header")
            header.appendChild(document.createTextNode(data.name))
            
            var p = document.createElement("p")
            p.appendChild(document.createTextNode(data.text))

            var footer = document.createElement("footer")
            footer.appendChild(document.createTextNode(data.timestamp))

            message.appendChild(header);
            message.appendChild(p);
            message.appendChild(footer);

            document.querySelector('.chat-body').append(message);

        })

        var joinRoom = function () {
            //axios.post(`/Chat/JoinRoom/${_connectionId}/{@Model.Name}`)
            var url = '/Chat/JoinRoom/' + _connectionId + '/{@Model.Id}'
            axios.post(url, null)
                .then(res => {
                    console.log("Room Joined!", res);
                })
                .catch(err => {
                    console.error("Failed to join Room!", err);
                })
        }

            connection.start()
            .then(function () {
                connection.invoke('getConnectionId')
                    .then(function (connectionId))
                {
                    _connectionId = connectionId
                    joinRoom()
                }
            })
            .catch(function (err) {
                console.log(err)
            })

            var form = null;

            var sendMessage = function(event)
            {
                event.preventDefault();

                var data = new FormData(event.target);

                document.getElementById('message-input').value = '';

                axios.post('/Chat/SendMessage', data)
                .then(res => 
                    {
                        console.log("Message sent!")
                    })
                .catch(err =>
                {
                    console.log("Couldn't send message")
                })
            }
             
            //joinRoom();

    </script>
}